In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 962.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///beneficiary

In [ ]:
%sql create table beneficiary_parner_data(partner_id int,partner varchar100,village varchar100,beneficiary int, beneficiary_type);

 * sqlite:///beneficiary
Done.

[]

In [ ]:
%%sql insert into beneficiary_parner_data(partner_id,partner,village,beneficiary,beneficiary_type) values
(2,'NRC','Balcad','50','Households'),
(3,'SCI','Balcad','1123','Individuals'),
(4,'IMC','Balcad','1245','Individuals'),
(5,'SCI','Mareeray','5200','Individuals'),
(6,'IMC','Mareeray','70','Households'),
(7,'IRC','Mareeray','2100','Individuals'),
(8,'CESVI','Mareeray','1800','Individuals'),
(9,'SCI','Kulmis','1340','Individuals'),
(10,'IMC','Kulmis','55','Households'),
(11,'SCI','Kulmis','4500','Individuals'),
(12,'IMC','Kulmis','1670','Individuals'),
(13,'IMC','Sabuun','1340','Individuals'),
(14,'IRC','Sabuun','66','Households'),
(15,'CESVI','Sabuun','4090','Individuals'),
(16,'SCI','Sabuun','2930','Individuals'),
(17,'IMC','Bayaxaw','2800','Individuals'),
(18,'IRC','Bayaxaw','2100','Individuals'),
(19,'CESVI','Bayaxaw','45','Households'),
(20,'SCI','Bayaxaw','1700','Individuals'),
(21,'SCI','Bayaxawo','5900','Individuals'),
(22,'IMC','Bayaxawo','40','Households'),
(23,'IRC','Bayaxawo','1500','Individuals'),
(24,'CESVI','Bayaxawo','1260','Individuals'),
(25,'CESVI','Dharkenley','7880','Individuals'),
(26,'IRC','Dharkenley','34','Households'),
(27,'SCI','Bulo-Kahin','4300','Individuals'),
(28,'IMC','Bulo-Kahin','4212','Individuals'),
(29,'IRC','Bulo-Kahin','3200','Individuals'),
(30,'IRC','Hilo Kelyo','5212','Individuals'),
(31,'SCI','Hilo Kelyo','25','Households'),
(32,'CESVI','Xubow','2157','Individuals'),
(33,'IMC','Xiintooy','1667','Individuals'),
(34,'IRC','Xiintooy','2667','Individuals'),
(35,'CESVI','Dhagax Jebis','2856','Individuals'),
(36,'CESVI','Filtare','7519','Individuals'),
(37,'CESVI','Howl-Wadaag','6870','Individuals'),
(38,'IMC','Howl-Wadaag','32','Households');

 * sqlite:///beneficiary
37 rows affected.

[]

In [ ]:
%sql create table village_location(village_id int,village varchar100,latitude varchar100,longitude varchar100,total_population int);

 * sqlite:///beneficiary
Done.

[]

In [ ]:
%%sql INSERT INTO beneficiary_parner_data (partner_id, partner, village, beneficiary, beneficiary_type) VALUES
(2, 'NRC', 'Balcad', '50', 'Households'),
(3, 'SCI', 'Balcad', '1123', 'Individuals'),
(4, 'IMC', 'Balcad', '1245', 'Individuals'),
(5, 'SCI', 'Mareeray', '5200', 'Individuals'),
(6, 'IMC', 'Mareeray', '70', 'Households'),
(7, 'IRC', 'Mareeray', '2100', 'Individuals'),
(8, 'CESVI', 'Mareeray', '1800', 'Individuals'),
(9, 'SCI', 'Kulmis', '1340', 'Individuals'),
(10, 'IMC', 'Kulmis', '55', 'Households'),
(11, 'SCI', 'Kulmis', '4500', 'Individuals'),
(12, 'IMC', 'Kulmis', '1670', 'Individuals'),
(13, 'IMC', 'Sabuun', '1340', 'Individuals'),
(14, 'IRC', 'Sabuun', '66', 'Households'),
(15, 'CESVI', 'Sabuun', '4090', 'Individuals'),
(16, 'SCI', 'Sabuun', '2930', 'Individuals'),
(17, 'IMC', 'Bayaxaw', '2800', 'Individuals'),
(18, 'IRC', 'Bayaxaw', '2100', 'Individuals'),
(19, 'CESVI', 'Bayaxaw', '45', 'Households'),
(20, 'SCI', 'Bayaxaw', '1700', 'Individuals'),
(21, 'SCI', 'Bayaxawo', '5900', 'Individuals'),
(22, 'IMC', 'Bayaxawo', '40', 'Households'),
(23, 'IRC', 'Bayaxawo', '1500', 'Individuals'),
(24, 'CESVI', 'Bayaxawo', '1260', 'Individuals'),
(25, 'CESVI', 'Dharkenley', '7880', 'Individuals'),
(26, 'IRC', 'Dharkenley', '34', 'Households'),
(27, 'SCI', 'Bulo-Kahin', '4300', 'Individuals'),
(28, 'IMC', 'Bulo-Kahin', '4212', 'Individuals'),
(29, 'IRC', 'Bulo-Kahin', '3200', 'Individuals'),
(30, 'IRC', 'Hilo Kelyo', '5212', 'Individuals'),
(31, 'SCI', 'Hilo Kelyo', '25', 'Households'),
(32, 'CESVI', 'Xubow', '2157', 'Individuals'),
(33, 'IMC', 'Xiintooy', '1667', 'Individuals'),
(34, 'IRC', 'Xiintooy', '2667', 'Individuals'),
(35, 'CESVI', 'Dhagax Jebis', '2856', 'Individuals'),
(36, 'CESVI', 'Filtare', '7519', 'Individuals'),
(37, 'CESVI', 'Howl-Wadaag', '6870', 'Individuals'),
(38, 'IMC', 'Howl-Wadaag', '32', 'Households');

 * sqlite:///beneficiary
37 rows affected.

[]

In [ ]:
%sql create table jurisdiction_hierachy(hierachy_id int,name varchar100,area varchar100,town_name);

 * sqlite:///beneficiary
Done.

[]

In [ ]:

%%sql insert into jurisdiction_hierachy(hierachy_id,name,area,town_name) Values
(1,'Middle Shabelle','Region',NULL),
(2,'Hiraan','Region',NULL),
(3,'Balcad','District','Middle Shabelle'),
(4,'Jowhar','District','Middle Shabelle'),
(5,'Beledweyn','District','Hiraan'),
(6,'Dharkenley','Village','Beledweyn'),
(7,'Bulo-Kahin','Village','Beledweyn'),
(8,'Hilo Kelyo','Village','Beledweyn'),
(9,'Xubow','Village','Beledweyn'),
(10,'Xiintooy','Village','Beledweyn'),
(11,'Dhagax Jebis','Village','Beledweyn'),
(12,'Filtare','Village','Beledweyn'),
(13,'Howl-Wadaag','Village','Beledweyn'),
(14,'Balcad','Village','Balcad'),
(15,'Mareeray','Village','Balcad'),
(16,'Kulmis','Village','Balcad'),
(17,'Sabuun','Village','Jowhar'),
(18,'Bayaxaw','Village','Jowhar');

 * sqlite:///beneficiary
18 rows affected.

[]

In [ ]:
%sql select * from beneficiary_parner_data

 * sqlite:///beneficiary
Done.

[(2, 'NRC', 'Balcad', 50, 'Households'),
 (3, 'SCI', 'Balcad', 1123, 'Individuals'),
 (4, 'IMC', 'Balcad', 1245, 'Individuals'),
 (5, 'SCI', 'Mareeray', 5200, 'Individuals'),
 (6, 'IMC', 'Mareeray', 70, 'Households'),
 (7, 'IRC', 'Mareeray', 2100, 'Individuals'),
 (8, 'CESVI', 'Mareeray', 1800, 'Individuals'),
 (9, 'SCI', 'Kulmis', 1340, 'Individuals'),
 (10, 'IMC', 'Kulmis', 55, 'Households'),
 (11, 'SCI', 'Kulmis', 4500, 'Individuals'),
 (12, 'IMC', 'Kulmis', 1670, 'Individuals'),
 (13, 'IMC', 'Sabuun', 1340, 'Individuals'),
 (14, 'IRC', 'Sabuun', 66, 'Households'),
 (15, 'CESVI', 'Sabuun', 4090, 'Individuals'),
 (16, 'SCI', 'Sabuun', 2930, 'Individuals'),
 (17, 'IMC', 'Bayaxaw', 2800, 'Individuals'),
 (18, 'IRC', 'Bayaxaw', 2100, 'Individuals'),
 (19, 'CESVI', 'Bayaxaw', 45, 'Households'),
 (20, 'SCI', 'Bayaxaw', 1700, 'Individuals'),
 (21, 'SCI', 'Bayaxawo', 5900, 'Individuals'),
 (22, 'IMC', 'Bayaxawo', 40, 'Households'),
 (23, 'IRC', 'Bayaxawo', 1500, 'Individuals'),
 (24, 'CESVI', 'Bayaxawo', 1260, 'Individuals'),
 (25, 'CESVI', 'Dharkenley', 7880, 'Individuals'),
 (26, 'IRC', 'Dharkenley', 34, 'Households'),
 (27, 'SCI', 'Bulo-Kahin', 4300, 'Individuals'),
 (28, 'IMC', 'Bulo-Kahin', 4212, 'Individuals'),
 (29, 'IRC', 'Bulo-Kahin', 3200, 'Individuals'),
 (30, 'IRC', 'Hilo Kelyo', 5212, 'Individuals'),
 (31, 'SCI', 'Hilo Kelyo', 25, 'Households'),
 (32, 'CESVI', 'Xubow', 2157, 'Individuals'),
 (33, 'IMC', 'Xiintooy', 1667, 'Individuals'),
 (34, 'IRC', 'Xiintooy', 2667, 'Individuals'),
 (35, 'CESVI', 'Dhagax Jebis', 2856, 'Individuals'),
 (36, 'CESVI', 'Filtare', 7519, 'Individuals'),
 (37, 'CESVI', 'Howl-Wadaag', 6870, 'Individuals'),
 (38, 'IMC', 'Howl-Wadaag', 32, 'Households'),
 (2, 'NRC', 'Balcad', 50, 'Households'),
 (3, 'SCI', 'Balcad', 1123, 'Individuals'),
 (4, 'IMC', 'Balcad', 1245, 'Individuals'),
 (5, 'SCI', 'Mareeray', 5200, 'Individuals'),
 (6, 'IMC', 'Mareeray', 70, 'Households'),
 (7, 'IRC', 'Mareeray', 2100, 'Individuals'),
 (8, 'CESVI', 'Mareeray', 1800, 'Individuals'),
 (9, 'SCI', 'Kulmis', 1340, 'Individuals'),
 (10, 'IMC', 'Kulmis', 55, 'Households'),
 (11, 'SCI', 'Kulmis', 4500, 'Individuals'),
 (12, 'IMC', 'Kulmis', 1670, 'Individuals'),
 (13, 'IMC', 'Sabuun', 1340, 'Individuals'),
 (14, 'IRC', 'Sabuun', 66, 'Households'),
 (15, 'CESVI', 'Sabuun', 4090, 'Individuals'),
 (16, 'SCI', 'Sabuun', 2930, 'Individuals'),
 (17, 'IMC', 'Bayaxaw', 2800, 'Individuals'),
 (18, 'IRC', 'Bayaxaw', 2100, 'Individuals'),
 (19, 'CESVI', 'Bayaxaw', 45, 'Households'),
 (20, 'SCI', 'Bayaxaw', 1700, 'Individuals'),
 (21, 'SCI', 'Bayaxawo', 5900, 'Individuals'),
 (22, 'IMC', 'Bayaxawo', 40, 'Households'),
 (23, 'IRC', 'Bayaxawo', 1500, 'Individuals'),
 (24, 'CESVI', 'Bayaxawo', 1260, 'Individuals'),
 (25, 'CESVI', 'Dharkenley', 7880, 'Individuals'),
 (26, 'IRC', 'Dharkenley', 34, 'Households'),
 (27, 'SCI', 'Bulo-Kahin', 4300, 'Individuals'),
 (28, 'IMC', 'Bulo-Kahin', 4212, 'Individuals'),
 (29, 'IRC', 'Bulo-Kahin', 3200, 'Individuals'),
 (30, 'IRC', 'Hilo Kelyo', 5212, 'Individuals'),
 (31, 'SCI', 'Hilo Kelyo', 25, 'Households'),
 (32, 'CESVI', 'Xubow', 2157, 'Individuals'),
 (33, 'IMC', 'Xiintooy', 1667, 'Individuals'),
 (34, 'IRC', 'Xiintooy', 2667, 'Individuals'),
 (35, 'CESVI', 'Dhagax Jebis', 2856, 'Individuals'),
 (36, 'CESVI', 'Filtare', 7519, 'Individuals'),
 (37, 'CESVI', 'Howl-Wadaag', 6870, 'Individuals'),
 (38, 'IMC', 'Howl-Wadaag', 32, 'Households')]

In [16]:
%%sql CREATE VIEW district_summary AS
SELECT
  l.district_name,
  r.region_name,
  SUM(p.beneficiaries / 6) AS total_individuals,
  (SUM(p.beneficiaries / 6) / d.population) * 100 AS individuals_pct
FROM village_location l
JOIN jurisdiction_hierarchy j ON l.district_id = j.district_id
JOIN region r ON j.region_id = r.region_id
JOIN partner_beneficiary p ON l.village_id = p.village_id
JOIN district d ON l.district_id = d.district_id
GROUP BY l.district_id, l.district_name, r.region_name, d.population;

 * sqlite:///beneficiary
Done.

[]

In [18]:
%%sql CREATE VIEW partner_summary AS
SELECT
  p.partner,
  COUNT(DISTINCT p.village_id) AS villages_reached,
  COUNT(DISTINCT l.district_id) AS districts_reached
FROM partner_beneficiary p
JOIN village_location l ON p.village_id = l.village_id
GROUP BY p.partner;

 * sqlite:///beneficiary
Done.

[]